*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    min-height: 1600px;
    background: #000;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1400px;
    background: linear-Gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, rgb(0, 0, 0) 100%);
    z-index: 100000; 
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    pointer-events: none;
}
#last{
    z-index: 10;
}
#text{
    position: relative;
    color: #ff8800;
    z-index: 2;
    font-size: 12em;
    text-align: center;
    padding-top: 205px;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-family: 'Caveat Brush', cursive;
}
.ab-text{
    padding: 100px 20%;
}
.heading{
    text-align: center;
}
.heading h2{
    font-family: 'Caveat Brush', cursive;
    font-size: 40px;
    color: #FC6A03;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.heading p{
    color: #DD571C;
    font-size: 15px;
    line-height: 28px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.7rem;
    align-items: center;
    margin-top: 5rem;
}

.box{
    height: 340px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    background: gray;
    transition: all 0.8s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(https://media.discordapp.net/attachments/1004349241096937492/1018504864424263812/500x500.jpg) center center no-repeat;
    background-size: cover;
}
.box1:hover{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.box2{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(https://media.discordapp.net/attachments/1004349241096937492/1018498733605912596/ab67616d0000b2738314a1eef415b654f433f3aa.png?width=559&height=559) center center no-repeat;
    background-size: cover;
}
.box2:hover{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.box3{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(https://media.discordapp.net/attachments/1004349241096937492/1018498498192216196/Lil_Mosey_-_Certified_Hitmaker.png) center center no-repeat;
    background-size: cover;
}
.box3:hover{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.box4{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(https://media.discordapp.net/attachments/1004349241096937492/1018497912377970718/Universal.jpg?width=559&height=559) center center no-repeat;
    background-size: cover;
}
.box4:hover{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.box5{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7) 75%, #000 100%), url(https://media.discordapp.net/attachments/1004349241096937492/1017390082195456110/Young_Misfit.jpg) center center no-repeat;
    background-size: cover;
}
.box5:hover{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.in{
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
}
.bottom{
    text-align: center;
    color: #adb5bd;
    padding-top: 150px;
    font-size: 14px;
    letter-spacing: 1px;
}


.about{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999999999999;
    width: auto;
    height: auto;
    color: white;
    margin: 10px 10px;
    transition: color 0.2s ease;
}

.about a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    transition: color 0.2s ease;
}

.about:hover,
.about:hover a{
    color: grey;
}
